* {
    font-family: 'Droid Sans', sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    /*color: #EA2E49;*/
    color: #408C9B;
    font-weight: lighter;
}

body {
    background-color: #F4F4FC;
}

#header {
    background-color: #333745;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 30px 0;
}

#face {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid white;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; /* future proofing */
    -khtml-border-radius: 50%; /* for old Konqueror browsers */
}

#face img {
    width: 100px;
}

#header h1, h2 {
    color: #DAEDE2;
}

#header h1 {
    font-size: 3em;
}

#header h2 {
    padding: 0;
    font-size: 2em;
}

#media {
    padding: 30px;
}

#media .social {
    width: 30px;
    height: 30px;
    margin: 20px;
}

#media .social a {
    text-underline: none;
}

#media .social img {
    width: 30px;
}

#body {
    max-width: 1041px;
    margin: 0 auto;
    padding: 30px 10px;
}

#body h1 {
    font-size: 3em;
}

#footer {
    width: 100%;
    background-color: #333745;
    padding: 20px 10px;
}

#footer p {
    color: white;
    font-weight: lighter;
    font-size: 0.9em;
}

#footer h1 {
    color: #DAEDE2;
    font-weight: lighter;
    font-size: 1.5em;
    padding: 10px 0;
}

#footer_content {
    max-width: 1041px;
    width: 100%;
    margin: 0 auto;
}

#footer .media {
    padding: 30px 0;
}

#footer .media .social {
    width: 20px;
    height: 20px;
    margin: 20px;
}

#footer .media .social a {
    text-underline: none;
}

#footer .media .social img {
    width: 20px;
}
